# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
venv/
.venv/

# Pytest
.pytest_cache/

# Terraform
.terraform/
terraform.tfstate
terraform.tfstate.backup
*.tfvars
*.tfvars.json
*override.tf
*override.tf.json
.terraform.lock.hcl

# IDE
.vscode/
